// Font Family
$circular: "Circular Std";
$circularbook: "Circular Std Book";
$ptserif: "PT Serif", serif;
$rubik: "Rubik", sans-serif;
$summer: "Beginning of Summer";

// Colors ---------------
$white: #ffffff;
$black: #000;
$black2: #0b0b0b;
$black3: #1b1b1b;
$black-soft: #343434;
$yellow: #ffd36f;
$grey: #f6f3f1;
$grey2: rgba(240, 245, 252, 0.8);
$pink-soft: #fff2f2;
$sky-blue-soft: #c1e6e7;
$theme-color: #da121a;
$theme-color2: #262f42;
$theme-color3: #da121a;
$theme-color4: #072451;
$body-text-color: #343434;
$hr-border-color: #e5e5e5;

// Heading Color
$heding: #050020;
$heding2: #1c0449;

// Responsive Variables
$xxl: "only screen and (min-width: 1601px) and (max-width: 1900px)";
$xl: "only screen and (min-width: 1601px) and (max-width: 1800px)";
$laptop: "only screen and (min-width: 1200px) and (max-width: 1600px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1200px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$xs: "(max-width: 767px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";
