@font-face {
  font-family: "Cabin Regular";
  src: url("../fonts/Cabin-Regular.eot");
  src: local("Cabin Regular"), local("Cabin-Regular"),
    url("../fonts/Cabin-Regular.eot") format("embedded-opentype"),
    url("../fonts/Cabin-Regular.woff2") format("woff2"),
    url("../fonts/Cabin-Regular.woff") format("woff"),
    url("../fonts/Cabin-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cabin SemiBold";
  src: url("../fonts/Cabin-Regular.eot");
  src: local("Cabin SemiBold"), local("Cabin-SemiBold"),
    url("../fonts/Cabin-SemiBold.eot") format("embedded-opentype"),
    url("../fonts/Cabin-SemiBold.woff2") format("woff2"),
    url("../fonts/Cabin-SemiBold.woff") format("woff"),
    url("../fonts/Cabin-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cabin Italic";
  src: url("../fonts/Cabin-Italic.eot");
  src: local("Cabin Italic"), local("Cabin-Italic"),
    url("../fonts/Cabin-Italic.eot") format("embedded-opentype"),
    url("../fonts/Cabin-Italic.woff2") format("woff2"),
    url("../fonts/Cabin-Italic.woff") format("woff"),
    url("../fonts/Cabin-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
